*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #333;
    font-family: sans-serif;
}

p{
    position: absolute;
    border: 2px solid black;
    background: #fff;
    left: 15%;
}

#instructions{
    top: 15%;
    left: 13%;
}

#lives{
    top: 30%;
    left: 13%;
    height: 25px;
    width: 100px;
    font-size: 18px;
}

#score{
    top: 50%;
    left: 13%;
    height: 25px;
    font-size: large;
}

#status{
    top: 40%;
    left: 13%;
}

.container{
    position: relative;
    height: 95vh;
    z-index: -1;
    background-image: url('images/background2.jfif');
    background-size: 45vw 45vw;
    aspect-ratio: 1;
}


.btn{
    display: none;
}

@media only screen and (max-width:500px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .container{
        position: absolute;
        top: 11%;
        height: 95vw;
        background-size: 95vw 95vw;
        aspect-ratio: 1;
    }

    #instructions{
        top: 1%;
        left: 3%;
    }

    #break{
        display: none;
    }
    
    #lives{
        top: 72%;
        left: 3%;
        height: 25px;
        width: 100px;
        font-size: 18px;
    }
    
    #score{
        position: absolute;
        top: 72%;
        left: 75%;
        height: 25px;
        font-size: large;
    }
    
    #status{
        top: 72%;
        left: 50%;
    }

    .btn{
        display: inherit;
        position:absolute;
        transform: translate(-50%,-50%);
        width: 10%;
        aspect-ratio: 1;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .btn:active{
        color: red;
    }

    #up{
        top: 80%;
        left: 50%;
    }

    #down{
        top: 90%;
        left: 50%;
    }
    #left{
        top: 85%;
        left: 25%;
    }
    #right{
        top: 85%;
        left: 75%;
    }
}


.hero{
    position: absolute;
    height: 10%;
    width: 10%;
    top: 90%;
    left: 0%;
    z-index: 0;
    filter: sepia(100%) invert(20%) brightness(200%) hue-rotate(90deg) saturate(3);
}


.gold{
    position: absolute;
    height: 3.5%;
    width: 3.5%;
    font-size: 100%;
    border-radius: 10%;
    background-image: linear-gradient(145deg,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
    z-index: -2;
}

.home{
    position: absolute;
    height: 10%;
    width: 10%;
    top: 0%;
    left: 90%;
    background-image: url('images/home-clip-art-modern-house-8.png');
    background-size: 100% 100%;
    z-index: 1;
}

.villain{
    position: absolute;
    height: 10%;
    width: 10%;
    background: none;
    z-index: 3;
}

.one,.five,.nine{
    top: 0%;
    left: 50%;
    animation: downmove 5s linear infinite;
}

.three,.seven{
    top: 90%;
    left: 50%;
    animation: upmove 5s linear infinite;
}

.two,.six{
    top: 50%;
    left: 90%;
    animation: sidemove 5s linear infinite;
}

.four,.eight,.ten{
    top: 50%;
    left: 0%;
    animation: side2move 5s linear infinite;
}

@keyframes sidemove {
    0%{
        left : 90%;
    }
    50%{
        left : 0%;
    }
    100%{
        left : 90%;
    }
    
}
@keyframes side2move {
    0%{
        left : 0%;
    }
    50%{
        left : 90%;
    }
    100%{
        left : 0%;
    }
    
}

@keyframes downmove {
    0%{
        top : 0%;
    }
    50%{
        top : 90%;
    }
    100%{
        top : 0%;
    }
}

@keyframes upmove {
    0%{
        top : 90%;
    }
    50%{
        top : 0%;
    }
    100%{
        top : 90%;
    }
}
